

.full-page-section{
  position: relative;
  overflow: hidden!important;
  height: 100vh!important;
}

.crunchable-page{
  height: 100vh!important;
  position: relative;
}



.purple-line{
    background-color: rgba(69, 35, 81, 1);
    width: 40px;
    margin-left: 0px;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.half-screen-img{
    overflow:hidden;
    width: 100%;
    height: 100vh;
}


.responsive-container-text{
  flex:1;

}

.flex{
  display: flex;
}


.text-container{
  width: 80%;
  margin: auto;
  padding: 10px 50px 50px 50px;
}

.spacing{
  padding-top: 10px;
}
.responsive-container-image{
  width:55vw;
}




/*FONT + COLORS + TEXT */

.text-center{
  text-align: center;
}

.justified{
  text-align: justify;
}

.purple-font{
  color: rgba(69, 35, 81, 1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.white-font{
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.small-text{
  font-size: 2.1vh;
}

.small-bold{
  font-size: 1.2em;
  font-weight: bold;
}

.header-font{
  font-size: 5vh;
  font-weight: 700;
}

  /*our team*/

.round-img{
  display: block;
  height: 20vh;
  border-radius: 50%;
  margin: auto auto;
  padding-left: 10px;
}



.header-padding{
  padding: 10px 0px;
}

.our-team-text{
  padding-bottom: 10px;
  padding-right: 50px;
  height: 28vh;
  position: relative;
  overflow: hidden;

}

.half-screen-img-right{
  height: 100vh;
  width: 42vw;
  overflow: hidden;
  background-image: url("Photos/groupteaching.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertically-align{
  vertical-align: middle;
}
/*pioneering students*/
.ps-right{
  height: 100vh;
  background-color: #392541;
  overflow: hidden;
}

.ps-padding{
  padding-top: 4vh;
  padding-bottom: 3vh;
}

.values-png{
  display: block;
  margin: 0 auto;
  height: 40vh;
}

.comment{
  height: 10vh;
  position: absolute;
}

.smaller-font{
  font-size: 2.4vh;
}

.flow-box{
  height: 10vh;
  background-color: white;
  border-top-left-radius: 7.5vh;
  border-bottom-left-radius: 7.5vh;
  width: 100vw;
  margin-bottom: -0.8vh;
}

.fade-color-1{
  background-color: #464b58;
}
.fade-color-2{
  background-color: #4b545f;
}
.fade-color-3{
  background-color: #505d66;
}
.fade-color-4{
  background-color: #55676e;
}
.fade-color-5{
  background-color: #5b7075;
}
.fade-color-6{
  background-color: #607b7c;
}
.triangle{
  margin-top: 3px;
  height: 1.2vh;
  margin-left: 3.5vh;
}

.ps-text-box{
  margin-top: 1.8vh;
  margin-left: 3vw;
  display: inline-block;
  position: absolute;
  line-height: 3vh;
}

.no-overlap{
  width: 10vh;
  height: 10vh;
  display: inline-block;
  position: relative;
}


/*quote page*/

.whole-page-image{
  height: 100vh;
  background-image: url("Photos/drama.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote-box{
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.quote-font{
  font-size: 3vw;
  font-weight: 700;
}

.left-quote{

  height: 15vw;
  float:right;
  margin-top: 20vh;
  margin-right: -8vw;

}
.right-quote{

  height: 15vw;
  margin-right: 5vw;
  margin-top: 40vh;
  z-index: 1;
  position: relative;
  float:right;

}

.quote{

  z-index: 2;
  position: relative;
  float:right;
  margin-top: 32vh;
  margin-right: -12vw;

}

/*The six 21 diploma*/

.diploma-png{
  width: 100%;
  padding: 20px;
}

.middle{
  text-align: center;
}

.wide-text-container{
  width: 80%;
  margin: auto;
   padding-left: 10px;
}

.box{
  width: 90%;
  float: right;
  height: 30vh;
  border-top-left-radius: 5vh;
}

.color-box-text{
  font-size: 1.8vh;
}
.orange{
  background-color: #b1826d;
  margin-top: 3vh;
}
.green{
  background-color: #889875;
  margin-top: 3vh;
}
.blue{
  background-color: #7d9391;
  margin-top: 3vh;
}

.box-content{
  height: 100%;
  width: 100%;

}

.box-text{

  margin-left: 18%;
  margin-top: 2vh;
  text-align: justify;
  margin-right: 5%
}


.box-png{
  margin-left: -0.5px;
  margin-top: -0.7px;
  height: 10vh;
  max-height: 70px;
  position: absolute;
}

/*Our Courses*/

.our-course{
  overflow: hidden;

}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.rotated-text{
  color: white;
  font-weight: 700;
  position: relative;
  font-size: 3vh;
  margin-right: -49vw;
  margin-top: 10vw;
  z-index: 2;
  text-align: center;
}

.purple-line-big{
  width: 10vw;
  background-color: #392541;
  margin-right: 0px;
  height: 100vh;
  float: right;
  flex:1;

}

.oc-text{
  width: 40vw;
  display: flex;
}

.col10{
  position: relative;
  width: 83.33333%;
  float:left;
  display: block;
}

.col2{
  position: relative;
  width: 16.66666;
  float: right;
    display: block;
    flex: 1;
}



.oc-header{
  font-size: 4vh;
  font-weight: 700;
}

.background-blue{
  background-image: url("Photos/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.left-column{
  padding-left: 3vw;
}

.line-hieght{
  line-height: 4vh;
}

.inside-padding{
  margin: 4vh 0px;
}

.subject-text{
  font-size: 2.5vh;
}
.bottom-padding{
  margin-bottom: 3vh!important;
}
/*Pioneering Teaching */

.top-image{

  height: 48vh;
  background-image: url("Photos/explanation.jpg");
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  position: relative;
}

.separating-purple-line{
  width: 100%;
  height: 4vh;
  background-color: rgba(69, 35, 81, 1);
}

.bottom-image{
  height: 48vh;
  background-image: url("Photos/maths.jpg");
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  position: relative;
}

/*Real World Learning*/

.rel{
   height: 100vh;
   overflow: hidden;
   text-align: center;
}

.centered-half-screen-image{
  left: 50%;
  margin-left: -100%;
  position: relative;
  width: auto !important;
  height: 100% !important;
  z-index: 1;

}

/*How Do I apply + Contact*/

.full-page-container{
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.how-to-apply{
  display: block;
  height: 85vh;
  width: 90%;
  margin: auto;
}

.purple-background{
  height: 100vh;
  background-color: #392541;
}

.logo-small{
  margin: 30px 0px;
  width: 20vw;
}

.contact-text{
  padding-top: 5vh;
  font-size: 3vh;
}
