
/* Large Devices, Wide Screens */
@media (min-width : 1200px) {


}


/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1220px) {
  .color-box-text{
    font-size: 1.6vh;
  }


}

@media (max-width : 991px) {

  .col2{
    width:0px;

  }
  .col10{
    width: 100%;

  }

  .responsive-container-image{
    display: none;
  }
  .half-screen-img{
    display: none;
  }
  .half-screen-img-right{
    display: none;
  }

  .purple-line{
    display: none;
  }

  .color-box-text{
    font-size: 2.2vh;
  }

  .purple-line-big{
    display: none;
  }

  .rotated-text{
    display: none;
  }

  .responsive-margin{
    width: 90vw;
  }

  .logo-small{
    width: 40vw;
  }

  #dropbtn{
    display: none;
  }


  #mobile-dropbtn{
    display: inline-block;
  }


}

@media min-height() {

}



/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 992px) {

  .small-text{
    font-size: 2.8vh;
  }
  .smaller-font{
    font-size: 2.8vh;
  }

  .diploma-png{
    width: 70%;
  }




}

@media (min-width : 479px) and (max-width: 768px) {


  .small-text{
    font-size: 2.6vh;
  }

  .color-box-text{
    font-size: 1.8vh;
  }

  .diploma-png{
    width: 70%;
  }




}

/* Extra Small Devices, Phones */
@media (max-width : 479px) {

  .round-img{
    height:15vh;
  }

  .color-box-text{
    font-size: 1.45vh;
  }

  .values-png{
    height: 25vh;
  }

  .smaller-font{
    font-size: 1.8vh;
  }

  .box-text{
    margin-left: 25%;
  }

  .quote-font{
    font-size: 7vw;
  }

  .right-quote{
    height:20vw;
  }

  .left-quote{
    height: 20vw;

  }




}

/* Custom, iPhone Retina */
@media (min-width : 320px) and (max-width: 478px)  {

}

@media (max-height: 550px) {
  .smaller-font{
    font-size: 2vh;
  }
  .ps-padding{
    padding-top: 4vh;
    padding-bottom: 0;
  }
  .flow-box{
    height:9vh;
  }
  .comment{
    height:9vh;
  }

}

@media (min-height : 850px){
  .small-text{
    font-size: 1.8vh;
  }



}
